<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="dicoding:email" content="hilmanurkholilah20@gmail.com">
    <title>HEALTHYLIFE C23-M4090</title>
    <meta content="description" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="src/styles/main.css" />
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Halaman Utama</a>
    <header class="app-bar">
      <a href="#mainContent" class="skip-link">Menuju ke konten</a>
      <div class="app-bar-brand">
        <a href="#/home">
          <picture>
            <img
              class="logo"
              src="./icons/logo/logohealthy.png"
              alt="Logo"
              aria-label="Logo Website"
            />
          </picture>
        </a>
        <p>HEALTHYLIFE</p>
      </div>
      <div class="app-bar-menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <nav id="navigationDrawer" class="app-bar-navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/article">Article</a></li>
          <li>
            <a href="#/calculator"> Calculator </a>
          </li>
          <li><a href="https://github.com/yonand21">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main tabindex="0" id="mainContent"></main>

    <footer>
      <div class="footer-content">
        <h1 tabindex="0">HEALTHYLIFE</h1>
        <p tabindex="0">
          ©2023 HEALTHYLIFE
        </p>
      </div>
    </footer>
  </body>
</html>
